$colorBtn: #ff9100;
$letraChakra:'Chakra Petch', sans-serif;

.card-img-top{
    width: 100%;
    height: 210px;
    padding: 10px;
    border-radius: 15px;
}

.card{
    margin: 2px;
    border-radius: 10px;
    height: auto;
}

.card-body{
    padding: 4px;
}

.card-title{
    color: white;
    text-align: center;
}

.card-precio{
    color: white;
    text-align: center;
}


.btn{
    border: 2px solid $colorBtn;
    width: 100%;
    background-color: $colorBtn;
    font-family: $letraChakra;
    padding: 2px;
    margin-bottom: 0px;
}

.btn:hover{
    border: 2px solid $colorBtn;
    font-size: 18px;
    font-weight: bold;
    background-image: linear-gradient(90deg, $colorBtn, #c4450b, $colorBtn);
    background-repeat: repeat;
    animation: btnCompra 4s infinite;
    background-size: 300%;
    animation-timing-function: ease-out;
    animation-delay: 0s;
}

/* animacion de botones de compra */
@keyframes btnCompra{
    0% {
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50% ;
    }

    100%{
        background-position: 0% 50%;
    }
}
