/* carrusel principal novedades */
.carousel--novedades{
    width: 85%;
    border-radius: 20px;  
    img{
        border-radius: 18px;
        border: 10px solid #ff8300;
    }
}

.boton{
    background-color: #ff8300;
    border-radius: 100%;
    height: 40px;
    width: 38px;
}
