.subti--pc{
    color: indigo;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 45px;
    -webkit-text-stroke: 0.5px white;
    padding-bottom: 15px;
    letter-spacing: 1rem;
}

.btn-submenuPc{
    background-image: linear-gradient(to top, rgb(141, 15, 231), rgb(39, 5, 63));
    margin-left: 15px;
    .submenuPc{
        border-radius: 10px;
        background-image: linear-gradient(to left, rgb(141, 15, 231), rgb(39, 5, 63));
        li{
            a{
                color: white;
                text-align: center;
            }
            a:hover{
                background-color: rgba(71, 24, 104, 0.568);
                text-align: left;
            }
        }
    }

}

.card--pc{
    background-image: linear-gradient(30deg, rgb(141, 15, 231), rgb(39, 5, 63),rgb(141, 15, 231));
    background-repeat: repeat;
    animation: cardPc 4s infinite;
    background-size: 500%;
    animation-timing-function: ease-out;
    animation-delay: 0s;
}

/* animacion de fondo de de productos */
@keyframes cardPc{
    0% {
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50% ;
    }

    100%{
        background-position: 0% 50%;
    }
}