.subti--playstation{
    color: blue;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 45px;
    -webkit-text-stroke: 0.5px white;
    padding-bottom: 15px;
}

.card--ps{
    background-image: linear-gradient(30deg, rgb(17, 17, 228), rgb(5, 5, 56),rgb(17, 17, 228));
    background-repeat: repeat;
    animation: cardPs 4s infinite;
    background-size: 500%;
    animation-timing-function: ease-out;
    animation-delay: 0s;
}

/* animacion de fondo de de productos */
@keyframes cardPs{
    0% {
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50% ;
    }

    100%{
        background-position: 0% 50%;
    }
}
