@import "headGeneral";
@import "estilosimgmenu";
@import "estiloscarrusel";
@import "estilosubmenu";
@import "tipoCompras";
@import "footer";
@import "playstationstyle";
@import "xboxstyle";
@import "pcstyle";
@import "nintendostyle";
@import "cards";
@import "queriesGeneralMovil";
@import "queriesGeneralMedia";
@import "comprastyle";
@import "queriesFormMovil";
@import "queriesFormMedia";

/* estilos generales */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* color del cuerpo de la pagina */
body{
    background-image: linear-gradient(to left, rgb(10, 19, 71), rgb(138, 80, 13) 90%);
    position: relative;
}

/* espacios del navegador */
.navbar{
    position: sticky;
    top: 0;
    z-index: 999;
    background-image: linear-gradient(to left, rgb(10, 19, 71), rgb(138, 80, 13) 90%);
    padding: 0;
    margin-bottom: 15px;
    box-shadow: 0px 0px 20px rgb(138, 80, 13),
                0px 0px 20px rgb(10, 19, 71);
}

/* nombre de las secciones en las submenu */
.el-liA{
    box-shadow: 0px 5px 8px #c3d4cb;
}

.el-liA:hover{
    box-shadow: 0px 5px 8px #ff9100;
    background-color: rgba(255, 255, 255, 0)!important;
}

/* seccion de titulos en los html de los productos */
.subti--producto{
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 36px;
    font-weight: bolder;
    position: relative;
    top: 15px;
    left: 10px;
}

/* linea de separacion de los subtitulos en los productos */
.contLinea--subti{
    display: flex;
    justify-content: center;
    .linea--subti{
        border: 1px solid #ff9100;
        border-radius: 50%;
        margin: 5px 0px;
        width: 90%;
    }
}

/* icono de whatsapp */
.wppAll{
    width: 60px;
    height: 60px;
    position: fixed;
    top: 89%;
    right: 1%;
    z-index: 999;
    padding: 8px;
    background-color: #47C555;
    border-radius: 10px;
}