.contHead {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* buscador */
  /* imagenes de carrito y usuario*/
}

.contHead h1 .gstation__titulo {
  text-decoration: none;
  letter-spacing: 1rem;
  font-size: 55px;
  color: #ff8300;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bolder;
  position: relative;
  top: 25px;
  text-shadow: 8px 8px 8px #000000;
}

.contHead .logo-head {
  margin: 15px 15px;
  width: 90px;
  height: 90px;
  -webkit-animation: logogs 25s infinite;
          animation: logogs 25s infinite;
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
}

@-webkit-keyframes logogs {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes logogs {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.contHead .contHead-buscar input {
  height: 30px;
  border: 1px solid #ff8300;
  border-radius: 6px 0px 0px 6px;
}

.contHead .contHead-buscar .btn-buscar {
  padding: 3.5px;
  border: 0px;
  background: #ff8300;
  border-radius: 0px 6px 6px 0px;
  height: 30px;
}

.contHead .contHead-buscar .btn-buscar img {
  padding: 2px;
  height: 28px;
  width: auto;
  position: relative;
  top: -2.3px;
}

.contHead .contHead-carUsu .contHead__carrito--carUsu, .contHead .contHead-carUsu .contHead__usuario--carUsu {
  margin-right: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8300), to(#8d4d09));
  background-image: linear-gradient(to bottom, #ff8300, #8d4d09);
  border-radius: 100%;
  padding: 1px;
  border: 1px solid white;
}

.contHead .contHead-carUsu .contHead__carrito--carUsu:hover, .contHead .contHead-carUsu .contHead__usuario--carUsu:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e47804), to(#5a3106));
  background-image: linear-gradient(to bottom, #e47804, #5a3106);
}

/* variables de colores */
/* variable de tipografia */
/*Menu home*/
.imgGs__menu {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff9100), color-stop(#c4450b), to(#ff9100));
  background-image: linear-gradient(90deg, #ff9100, #c4450b, #ff9100);
  border-radius: 100%;
  background-repeat: repeat;
  -webkit-animation: gs 5s infinite;
          animation: gs 5s infinite;
  background-size: 450%;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes gs {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gs {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.imgGs__menu:hover {
  -webkit-box-shadow: 0px 0px 30px #ff9100;
          box-shadow: 0px 0px 30px #ff9100;
}

/* imagen para responsive del home */
#home {
  position: absolute;
  padding: 0;
}

#home img {
  height: 0px;
  width: 0px;
}

#home .el-h5Home {
  font-size: 0px;
}

/*Menu playstation*/
.imgPs__menu {
  background-image: -webkit-gradient(linear, left top, right top, from(#2222e2), color-stop(#3c0da8), to(#2222e2));
  background-image: linear-gradient(90deg, #2222e2, #3c0da8, #2222e2);
  border-radius: 100%;
  background-repeat: repeat;
  -webkit-animation: ps 5s infinite;
          animation: ps 5s infinite;
  background-size: 450%;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes ps {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes ps {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.imgPs__menu:hover {
  -webkit-box-shadow: 0px 0px 30px #2222e2;
          box-shadow: 0px 0px 30px #2222e2;
}

/*Menu xbox*/
.imgXbox__menu {
  background-image: -webkit-gradient(linear, left top, right top, from(#0dc70d), color-stop(#0c8b21), to(#0dc70d));
  background-image: linear-gradient(90deg, #0dc70d, #0c8b21, #0dc70d);
  border-radius: 100%;
  background-repeat: repeat;
  -webkit-animation: xbox 5s infinite;
          animation: xbox 5s infinite;
  background-size: 450%;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes xbox {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes xbox {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.imgXbox__menu:hover {
  -webkit-box-shadow: 0px 0px 30px #0dc70d;
          box-shadow: 0px 0px 30px #0dc70d;
}

/*Menu pc*/
.imgPc__menu {
  background-image: -webkit-gradient(linear, left top, right top, from(#8d0fe7), color-stop(#5e0e97), to(#8d0fe7));
  background-image: linear-gradient(90deg, #8d0fe7, #5e0e97, #8d0fe7);
  border-radius: 100%;
  background-repeat: repeat;
  -webkit-animation: pc 5s infinite;
          animation: pc 5s infinite;
  background-size: 450%;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes pc {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pc {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.imgPc__menu:hover {
  -webkit-box-shadow: 0px 0px 30px #8d0fe7;
          box-shadow: 0px 0px 30px #8d0fe7;
}

/*Menu nintendo*/
.imgNintendo__menu {
  background-image: -webkit-gradient(linear, left top, right top, from(#ee0909), color-stop(#ac0d0d), to(#ee0909));
  background-image: linear-gradient(90deg, #ee0909, #ac0d0d, #ee0909);
  border-radius: 100%;
  background-repeat: repeat;
  -webkit-animation: nintendo 5s infinite;
          animation: nintendo 5s infinite;
  background-size: 450%;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes nintendo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes nintendo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.imgNintendo__menu:hover {
  -webkit-box-shadow: 0px 0px 30px #ee0909;
          box-shadow: 0px 0px 30px #ee0909;
}

/*Tamanos de las imagenes*/
.imgGs__menu, .imgPs__menu, .imgXbox__menu, .imgPc__menu, .imgNintendo__menu {
  width: 90px;
  height: 90px;
  -webkit-box-shadow: 3px 3px 7px black;
          box-shadow: 3px 3px 7px black;
}

/* modificacion de las letras del nav principal */
.h5Home, .h5Ps, .h5Xbox, .h5Pc, .h5Nintendo {
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: "Chakra Petch", sans-serif;
  margin: 0px;
  text-shadow: 3px 3px 6px black;
}

/* carrusel principal novedades */
.carousel--novedades {
  width: 100%;
  border-radius: 20px;
  padding-top: 5px;
  /* imagen 1 y 2 del carrusel*/
  /* imagen 3 del carrusel */
  /* textos dentro de la imagen 3 del carrusel */
}

.carousel--novedades .imgCarrusel1, .carousel--novedades .imgCarrusel2 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#272222), color-stop(#d6bfbf), to(#242121));
  background-image: linear-gradient(to top, #272222, #d6bfbf, #242121);
  height: 406px;
}

.carousel--novedades .imgCarrusel3 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(indigo), color-stop(#181717), to(indigo));
  background-image: linear-gradient(to top, indigo, #181717, indigo);
  height: 406px;
}

.carousel--novedades .textNuevoCarrusel3, .carousel--novedades .textGabiCarrusel3, .carousel--novedades .textOcelotCarrusel3, .carousel--novedades .textVerCarrusel3 {
  position: absolute;
  top: 6%;
  left: 18%;
  color: white;
  font-family: fantasy;
  font-size: 80px;
}

.carousel--novedades .textGabiCarrusel3 {
  top: 36%;
  left: 20%;
  font-size: 70px;
}

.carousel--novedades .textOcelotCarrusel3 {
  top: 60%;
  left: 30%;
  font-size: 70px;
}

.carousel--novedades .textVerCarrusel3 {
  text-decoration: none;
  top: 80%;
  left: 50%;
  font-size: 40px;
}

.carousel--novedades .textVerCarrusel3:hover {
  color: #ada496;
}

.carousel--novedades .contenedor-ps5carrusel {
  background-color: rgba(18, 18, 170, 0.582);
  height: 406px;
  width: 45%;
  position: absolute;
  top: 0.5%;
  left: 0%;
}

.carousel--novedades .contenedor-ps5carrusel .list-ps5carrusel {
  position: absolute;
  top: 33%;
  left: 22%;
  list-style-type: none;
}

.carousel--novedades .contenedor-ps5carrusel .list-ps5carrusel span {
  color: white;
  font-size: 22px;
  font-weight: bolder;
}

.carousel--novedades .contenedor-ps5carrusel .list-ps5carrusel p {
  color: white;
  font-size: 19px;
  font-weight: bolder;
}

.carousel--novedades .contenedor-ps5carrusel .list-ps5carrusel a {
  color: #a19999;
  margin-left: 5px;
  text-decoration: none;
}

.carousel--novedades .contenedor-ps5carrusel .list-ps5carrusel a:hover {
  color: #aa9574;
}

/* textos dentro del carrusel */
.textConsolaCarrusel, .textJoystickCarrusel, .textHeadsetCarrusel {
  position: absolute;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 22px;
  top: 4%;
  left: 46%;
}

.textJoystickCarrusel {
  color: black;
  top: 50%;
  left: 73%;
}

.textHeadsetCarrusel {
  color: black;
  top: 28%;
  left: 17%;
}

/* botones dentro del carrusel */
.boton {
  background-color: #ff8300;
  border-radius: 100%;
  height: 40px;
  width: 38px;
}

/* submenu de playstation */
.subps__menu {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2222e2), to(#0f0f5c));
  background-image: linear-gradient(to bottom, #2222e2, #0f0f5c);
  border-radius: 10px;
}

.subps__menu .dropdown-item {
  font-weight: bolder;
  text-align: center;
  color: lightcyan;
  font-size: 22px;
  font-family: 'Chakra Petch', sans-serif;
  font-family: 'Itim', cursive;
  font-family: 'Roboto Mono', monospace;
}

.subps__menu .dropdown-item:hover {
  background-color: #131383;
}

/* submenu de xbox */
.subxbox__menu {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0dc70d), to(#0c5a0c));
  background-image: linear-gradient(to bottom, #0dc70d, #0c5a0c);
  border-radius: 10px;
}

.subxbox__menu .dropdown-item {
  font-weight: bolder;
  text-align: center;
  color: lightcyan;
  font-size: 22px;
  font-family: 'Chakra Petch', sans-serif;
  font-family: 'Itim', cursive;
  font-family: 'Roboto Mono', monospace;
}

.subxbox__menu .dropdown-item:hover {
  background-color: #0c5a0c;
}

/* submenu de pc */
.subpc__menu {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8d0fe7), to(#3d0e5f));
  background-image: linear-gradient(to bottom, #8d0fe7, #3d0e5f);
  border-radius: 10px;
}

.subpc__menu .dropdown-item {
  font-weight: bolder;
  text-align: center;
  color: lightcyan;
  font-size: 22px;
  font-family: 'Chakra Petch', sans-serif;
  font-family: 'Itim', cursive;
  font-family: 'Roboto Mono', monospace;
}

.subpc__menu .dropdown-item:hover {
  background-color: #3d0e5f;
}

/* submenu de nintendo */
.subnintendo__menu {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ee0909), to(#740f0f));
  background-image: linear-gradient(to bottom, #ee0909, #740f0f);
  border-radius: 10px;
}

.subnintendo__menu .dropdown-item {
  font-weight: bolder;
  text-align: center;
  color: lightcyan;
  font-size: 22px;
  font-family: 'Chakra Petch', sans-serif;
  font-family: 'Itim', cursive;
  font-family: 'Roboto Mono', monospace;
}

.subnintendo__menu .dropdown-item:hover {
  background-color: #740f0f;
}

.metodopago1--contenedor {
  background-color: rgba(121, 117, 117, 0.493);
  border-top: 4px ridge #504646;
  border-bottom: 4px groove #504646;
  height: 300px;
  margin-top: 1px;
}

.metodopago1--contenedor .txtPago {
  color: black;
  font-weight: bold;
}

.metodopago1--contenedor .metodopago1__tarjeta--contenedor img {
  -webkit-animation: tarjeta 5s infinite 0s;
          animation: tarjeta 5s infinite 0s;
}

.metodopago1--contenedor .metodopago1__escudo--contenedor img {
  -webkit-animation: escudo 8s infinite 0s;
          animation: escudo 8s infinite 0s;
}

.metodopago1--contenedor .metodopago1__auto--contenedor img {
  -webkit-animation: car 9s infinite 0s;
          animation: car 9s infinite 0s;
}

/* animacion de tarjeta */
@-webkit-keyframes tarjeta {
  0% {
    -webkit-transform: translate(65px);
            transform: translate(65px);
  }
  50% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
  100% {
    -webkit-transform: translate(65px);
            transform: translate(65px);
  }
}
@keyframes tarjeta {
  0% {
    -webkit-transform: translate(65px);
            transform: translate(65px);
  }
  50% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
  100% {
    -webkit-transform: translate(65px);
            transform: translate(65px);
  }
}

/* animacion de escudo */
@-webkit-keyframes escudo {
  0% {
    -webkit-transform: translate(30px) perspective(150px) rotateY(45deg);
            transform: translate(30px) perspective(150px) rotateY(45deg);
  }
  50% {
    -webkit-transform: translate(-30px) perspective(150px) rotateY(-45deg);
            transform: translate(-30px) perspective(150px) rotateY(-45deg);
  }
  100% {
    -webkit-transform: translate(30px) perspective(150px) rotateY(45deg);
            transform: translate(30px) perspective(150px) rotateY(45deg);
  }
}
@keyframes escudo {
  0% {
    -webkit-transform: translate(30px) perspective(150px) rotateY(45deg);
            transform: translate(30px) perspective(150px) rotateY(45deg);
  }
  50% {
    -webkit-transform: translate(-30px) perspective(150px) rotateY(-45deg);
            transform: translate(-30px) perspective(150px) rotateY(-45deg);
  }
  100% {
    -webkit-transform: translate(30px) perspective(150px) rotateY(45deg);
            transform: translate(30px) perspective(150px) rotateY(45deg);
  }
}

/* animacion de auto */
@-webkit-keyframes car {
  0% {
    -webkit-transform: translate(65px);
            transform: translate(65px);
  }
  25% {
    -webkit-transform: translate(-20px);
            transform: translate(-20px);
  }
  50% {
    -webkit-transform: translate(-20px) perspective(200px) rotateY(-180deg);
            transform: translate(-20px) perspective(200px) rotateY(-180deg);
  }
  75% {
    -webkit-transform: translate(65px) perspective(200px) rotateY(-180deg);
            transform: translate(65px) perspective(200px) rotateY(-180deg);
  }
  100% {
    -webkit-transform: translate(65px) perspective(200px) rotateY(0deg);
            transform: translate(65px) perspective(200px) rotateY(0deg);
  }
}
@keyframes car {
  0% {
    -webkit-transform: translate(65px);
            transform: translate(65px);
  }
  25% {
    -webkit-transform: translate(-20px);
            transform: translate(-20px);
  }
  50% {
    -webkit-transform: translate(-20px) perspective(200px) rotateY(-180deg);
            transform: translate(-20px) perspective(200px) rotateY(-180deg);
  }
  75% {
    -webkit-transform: translate(65px) perspective(200px) rotateY(-180deg);
            transform: translate(65px) perspective(200px) rotateY(-180deg);
  }
  100% {
    -webkit-transform: translate(65px) perspective(200px) rotateY(0deg);
            transform: translate(65px) perspective(200px) rotateY(0deg);
  }
}

.footer {
  height: 345px;
  background-color: rgba(255, 166, 0, 0.651);
}

.seccion__arriba--footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  padding: 25px;
  justify-items: center;
}

.seccion__arriba--footer .tlf {
  margin: 0;
  padding: 0;
  font-size: 19px;
  font-weight: bold;
  color: black;
  padding: 0px 15px;
}

.seccion__arriba--footer .ulTlf {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.seccion__arriba--footer a {
  text-decoration: none;
  width: 90%;
  padding: 3px 20px;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.seccion__arriba--footer a:hover {
  color: blue;
  -webkit-transform: translate(5px);
          transform: translate(5px);
}

.linea--footer {
  width: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.seccion__abajo--footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "social . logoFoot";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.img--logo {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: logoFoot;
}

.img--logo img {
  padding: 6px;
  width: 100px;
  height: 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(#252121));
  background-image: linear-gradient(to bottom, black, #252121);
  border-radius: 100%;
  border: 1px solid white;
}

/* mail para recibir novedades */
.mail-footer {
  color: black;
}

.mail-footer .input-mail {
  width: 260px;
  border-radius: 40px 0px 0px 40px;
}

.mail-footer .input-mail:focus {
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0);
          box-shadow: 0 0 1px rgba(255, 255, 255, 0);
}

.mail-footer .mail__btn--footer {
  background-color: #ff9100;
  color: white;
  width: 20%;
  border-radius: 0px 40px 40px 0px;
  border: 1px solid white;
}

.mail-footer .mail__btn--footer:hover {
  background-color: #f08c0a;
}

.mail-footer .mail__btn--footer:focus {
  -webkit-box-shadow: 0 0 6px #f08c0a;
          box-shadow: 0 0 6px #f08c0a;
}

.seccion--rsociales {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: social;
  padding: 12px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "rsocial" "imgRedeSocial";
}

.seccion--rsociales h5 {
  color: black;
}

.seccion--rsociales img {
  width: 50px;
  height: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.seccion--rsociales img:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.rSocial--titulo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: rsocial;
}

.lista-redSocial {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: imgRedeSocial;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* copyright */
.copy {
  text-align: center;
  color: rgba(80, 80, 133, 0.644);
}

.subti--playstation {
  color: blue;
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 45px;
  padding-bottom: 15px;
  text-shadow: 4px 4px 9px black;
  font-weight: bolder;
}

.card--ps {
  background-image: linear-gradient(30deg, #1111e4, #050538, #1111e4);
  background-repeat: repeat;
  -webkit-animation: cardPs 4s infinite;
          animation: cardPs 4s infinite;
  background-size: 500%;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

/* animacion de fondo de de productos */
@-webkit-keyframes cardPs {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cardPs {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.subti--xbox {
  color: #0ee906;
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 45px;
  padding-bottom: 15px;
  letter-spacing: 1rem;
  text-shadow: 3px 3px 5px black;
  font-weight: bolder;
}

.card--xbox {
  background-image: linear-gradient(30deg, #0dc70d, #074712, #0dc70d);
  background-repeat: repeat;
  -webkit-animation: cardXbox 4s infinite;
          animation: cardXbox 4s infinite;
  background-size: 500%;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

/* animacion de fondo de de productos */
@-webkit-keyframes cardXbox {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cardXbox {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.subti--pc {
  color: #a041e4;
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 45px;
  padding-bottom: 15px;
  letter-spacing: 1rem;
  text-shadow: 3px 3px 5px black;
  font-weight: bolder;
}

.contenedor-subMenuPc {
  position: absolute;
  top: 5.5%;
  left: 1.2%;
}

.contenedor-subMenuPc .btn-subPc {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#8d0fe7), to(#27053f));
  background-image: linear-gradient(to top, #8d0fe7, #27053f);
  margin-left: 15px;
  border-radius: 20px;
  color: white;
  font-size: 18px;
}

.contenedor-subMenuPc .btn-subPc:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#6c0daf), to(#160324));
  background-image: linear-gradient(to top, #6c0daf, #160324);
}

.contenedor-subMenuPc .submenuPc {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, right top, left top, from(#8d0fe7), to(#27053f));
  background-image: linear-gradient(to left, #8d0fe7, #27053f);
}

.contenedor-subMenuPc .submenuPc li a {
  color: white;
  text-align: center;
}

.contenedor-subMenuPc .submenuPc li a:hover {
  background-color: rgba(71, 24, 104, 0.568);
  text-align: left;
}

.card--pc {
  background-image: linear-gradient(30deg, #8d0fe7, #27053f, #8d0fe7);
  background-repeat: repeat;
  -webkit-animation: cardPc 4s infinite;
          animation: cardPc 4s infinite;
  background-size: 500%;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

/* animacion de fondo de de productos */
@-webkit-keyframes cardPc {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cardPc {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.subti--nintendo {
  color: red;
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 45px;
  padding-bottom: 15px;
  text-shadow: 3px 3px 5px black;
  font-weight: bolder;
}

.card--nintendo {
  background-image: linear-gradient(30deg, #ee0909, #610808, #ee0909);
  background-repeat: repeat;
  -webkit-animation: cardnintendo 4s infinite;
          animation: cardnintendo 4s infinite;
  background-size: 500%;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

/* animacion de fondo de productos nintendo */
@-webkit-keyframes cardnintendo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cardnintendo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card-img-top {
  width: 100%;
  height: 210px;
  padding: 10px;
  border-radius: 15px;
  border-bottom: 2px solid #c4450b;
  -webkit-box-shadow: 0px 5px 4px black;
          box-shadow: 0px 5px 4px black;
}

.card {
  margin: 5px;
  border-radius: 10px;
  height: auto;
}

.card-body {
  padding: 4px;
}

.card-title {
  color: white;
  text-align: center;
  text-shadow: 5px 5px 7px black;
}

.card-precio {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 3px black;
}

.btn-comprar {
  color: white;
  border: 2px solid #ff9100;
  width: 100%;
  background-color: #ff9100;
  font-family: "Chakra Petch", sans-serif;
  padding: 2px;
  margin-bottom: 0px;
  text-shadow: 2px 2px 4px black;
}

.btn-comprar:hover, .formulario .btn-cancelar:hover, .formulario .btn-volver:hover {
  color: white;
  border: 2px solid #ff9100;
  font-size: 18px;
  font-weight: bold;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff9100), color-stop(#c4450b), to(#ff9100));
  background-image: linear-gradient(90deg, #ff9100, #c4450b, #ff9100);
  background-repeat: repeat;
  -webkit-animation: btnCompra 4s infinite;
          animation: btnCompra 4s infinite;
  background-size: 300%;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.btn-comprar:focus {
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0);
          box-shadow: 0 0 1px rgba(255, 255, 255, 0);
}

/* animacion de botones de compra */
@-webkit-keyframes btnCompra {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes btnCompra {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 472px) and (min-width: 300px) {
  /* todo del header */
  .contHead {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -ms-grid-rows: 60% 40%;
        grid-template-rows: 60% 40%;
        grid-template-areas: "gamestation gamestation" "buscador carUsu";
    padding: 0px 0px 10px;
    justify-items: center;
  }
  .contHead .contHead-logTituPrincipal {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: gamestation;
  }
  .contHead .contHead-logTituPrincipal .logo-head {
    width: 45px;
    height: 45px;
  }
  .contHead .contHead-logTituPrincipal h1 .gstation__titulo {
    font-size: 25px;
    letter-spacing: 10px;
    text-shadow: 5px 5px 5px #000000;
  }
  .contHead .contHead-buscar {
    margin-left: 10px;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: buscador;
  }
  .contHead .contHead-carUsu {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: carUsu;
  }
  .contHead .contHead-carUsu img {
    width: 40px;
    height: 40px;
  }
  /* navegador */
  .navbar {
    padding: 5px 0px 15px;
    margin-top: 10px;
  }
  .navbar #el-nav-playstation {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 228, 0.3)), to(rgba(5, 5, 56, 0.3)));
    background-image: linear-gradient(to bottom, rgba(17, 17, 228, 0.3), rgba(5, 5, 56, 0.3));
  }
  .navbar #el-nav-xbox {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 199, 13, 0.3)), to(rgba(7, 71, 18, 0.3)));
    background-image: linear-gradient(to bottom, rgba(13, 199, 13, 0.3), rgba(7, 71, 18, 0.3));
  }
  .navbar #el-nav-pc {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(141, 15, 231, 0.3)), to(rgba(39, 5, 63, 0.3)));
    background-image: linear-gradient(to bottom, rgba(141, 15, 231, 0.3), rgba(39, 5, 63, 0.3));
  }
  .navbar #el-nav-nintendo {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 9, 9, 0.3)), to(rgba(97, 8, 8, 0.3)));
    background-image: linear-gradient(to bottom, rgba(238, 9, 9, 0.3), rgba(97, 8, 8, 0.3));
  }
  /* tamanio de letras en los submenu */
  .subps__menu .dropdown-item, .subxbox__menu .dropdown-item, .subpc__menu .dropdown-item, .subnintendo__menu .dropdown-item {
    font-size: 18px;
  }
  /* icono de el menu hamburguesa */
  .iconMainHamburguer {
    height: 30px;
    width: 30px;
  }
  /* boton del manu hamburguesa */
  .navbar-toggler:focus {
    -webkit-box-shadow: 4px 4px 5px #c4450b, -4px -4px 5px #c4450b;
            box-shadow: 4px 4px 5px #c4450b, -4px -4px 5px #c4450b;
  }
  /* Tamanios de las imagenes */
  .imgPs__menu, .imgXbox__menu, .imgPc__menu, .imgNintendo__menu {
    width: 50px;
    height: 50px;
  }
  /* modificacion de las letras del nav principal */
  .h5Ps, .h5Xbox, .h5Pc, .h5Nintendo {
    position: absolute;
    top: 23px;
    left: 85px;
  }
  /* imagen para responsive del home */
  #home {
    position: relative;
    padding: 4px;
  }
  #home img {
    height: 50px;
    width: 50px;
    background-image: -webkit-gradient(linear, left top, right top, from(#ff9100), color-stop(#c4450b), to(#ff9100));
    background-image: linear-gradient(90deg, #ff9100, #c4450b, #ff9100);
    border-radius: 100%;
    background-repeat: repeat;
    -webkit-animation: gs 5s infinite;
            animation: gs 5s infinite;
    background-size: 450%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-box-shadow: 2px 2px 6px black;
            box-shadow: 2px 2px 6px black;
  }
  #home .el-h5Home {
    position: absolute;
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: "Chakra Petch", sans-serif;
    margin: 0px;
    top: 16px;
    left: 70px;
    text-shadow: 3px 3px 6px black;
  }
  .index {
    position: absolute;
    padding: 0;
  }
  .index .imgGs__menu {
    height: 0px;
    width: 0px;
  }
  .index .h5Home {
    position: absolute;
    font-size: 0px;
  }
  /* carrusel principal novedades */
  .carousel--novedades {
    /* imagen 1, 2 y 3 del carrusel*/
    /* textos dentro de la imagen 3 del carrusel */
    /* textos dentro del carrusel */
    /* botones dentro del carrusel */
  }
  .carousel--novedades .imgCarrusel1, .carousel--novedades .imgCarrusel2, .carousel--novedades .imgCarrusel3 {
    height: 150px;
  }
  .carousel--novedades .textNuevoCarrusel3, .carousel--novedades .textGabiCarrusel3, .carousel--novedades .textOcelotCarrusel3, .carousel--novedades .textVerCarrusel3 {
    font-family: 'Archivo Black', sans-serif;
    font-weight: bolder;
    left: 11%;
    font-size: 25px;
  }
  .carousel--novedades .textGabiCarrusel3 {
    font-family: 'Archivo Black', sans-serif;
    font-weight: bolder;
    top: 35%;
    left: 13%;
    font-size: 23px;
  }
  .carousel--novedades .textOcelotCarrusel3 {
    font-family: 'Archivo Black', sans-serif;
    font-weight: bolder;
    top: 58%;
    left: 20%;
    font-size: 23px;
  }
  .carousel--novedades .textVerCarrusel3 {
    font-family: 'Archivo Black', sans-serif;
    font-weight: bolder;
    top: 80%;
    left: 44%;
    font-size: 15px;
  }
  .carousel--novedades .textVerCarrusel3:hover {
    color: #ada496;
  }
  .carousel--novedades .contenedor-ps5carrusel {
    width: 90%;
  }
  .carousel--novedades .contenedor-ps5carrusel .list-ps5carrusel {
    top: 7%;
    left: 6%;
  }
  .carousel--novedades .contenedor-ps5carrusel .list-ps5carrusel span {
    font-size: 14px;
  }
  .carousel--novedades .contenedor-ps5carrusel .list-ps5carrusel p {
    font-size: 12px;
    margin-bottom: 4px;
  }
  .carousel--novedades .textConsolaCarrusel, .carousel--novedades .textJoystickCarrusel, .carousel--novedades .textHeadsetCarrusel {
    font-size: 12px;
    top: 1%;
    left: 42%;
  }
  .carousel--novedades .textJoystickCarrusel {
    top: 48%;
    left: 69%;
  }
  .carousel--novedades .textHeadsetCarrusel {
    top: 26%;
    left: 14%;
  }
  .carousel--novedades .boton {
    height: 32px;
    width: 30px;
  }
  /* subtitulos de todas los html de productos */
  .subti--playstation, .subti--xbox, .subti--pc, .subti--nintendo {
    font-size: 28px;
    padding-bottom: 1px;
  }
  /* subtitulos de las secciones dentro de los html de los productos */
  main .subti--producto {
    font-size: 24px;
    font-weight: bolder;
    padding-left: 10px;
    padding-top: 25px;
  }
  /* boton de pc de submenu */
  .contenedor-subMenuPc {
    top: 1.8%;
    left: -3%;
  }
  .contenedor-subMenuPc .btn-subPc {
    font-size: 13px;
  }
  .contenedor-subMenuPc .submenuPc li a {
    color: white;
    text-align: center;
  }
  .contenedor-subMenuPc .submenuPc li a:hover {
    background-color: rgba(71, 24, 104, 0.568);
    text-align: left;
  }
  /* nueva posicion de las cards para el responsive */
  .allProduct {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* metodo de pago */
  .metodopago1--contenedor {
    height: 120px;
    /* animacion de tarjeta */
    /* animacion de escudo */
    /* animacion de auto */
  }
  .metodopago1--contenedor img {
    width: 60px;
    height: 60px;
  }
  .metodopago1--contenedor .txtPago {
    font-size: 10px;
  }
  @-webkit-keyframes tarjeta {
    0% {
      -webkit-transform: translate(65px);
              transform: translate(65px);
    }
    50% {
      -webkit-transform: translate(0px);
              transform: translate(0px);
    }
    100% {
      -webkit-transform: translate(65px);
              transform: translate(65px);
    }
  }
  @keyframes tarjeta {
    0% {
      -webkit-transform: translate(65px);
              transform: translate(65px);
    }
    50% {
      -webkit-transform: translate(0px);
              transform: translate(0px);
    }
    100% {
      -webkit-transform: translate(65px);
              transform: translate(65px);
    }
  }
  @-webkit-keyframes escudo {
    0% {
      -webkit-transform: translate(25px) perspective(150px) rotateY(45deg);
              transform: translate(25px) perspective(150px) rotateY(45deg);
    }
    50% {
      -webkit-transform: translate(-2px) perspective(150px) rotateY(-45deg);
              transform: translate(-2px) perspective(150px) rotateY(-45deg);
    }
    100% {
      -webkit-transform: translate(25px) perspective(150px) rotateY(45deg);
              transform: translate(25px) perspective(150px) rotateY(45deg);
    }
  }
  @keyframes escudo {
    0% {
      -webkit-transform: translate(25px) perspective(150px) rotateY(45deg);
              transform: translate(25px) perspective(150px) rotateY(45deg);
    }
    50% {
      -webkit-transform: translate(-2px) perspective(150px) rotateY(-45deg);
              transform: translate(-2px) perspective(150px) rotateY(-45deg);
    }
    100% {
      -webkit-transform: translate(25px) perspective(150px) rotateY(45deg);
              transform: translate(25px) perspective(150px) rotateY(45deg);
    }
  }
  @-webkit-keyframes car {
    0% {
      -webkit-transform: translate(56px);
              transform: translate(56px);
    }
    25% {
      -webkit-transform: translate(0px);
              transform: translate(0px);
    }
    50% {
      -webkit-transform: translate(0px) perspective(200px) rotateY(-180deg);
              transform: translate(0px) perspective(200px) rotateY(-180deg);
    }
    75% {
      -webkit-transform: translate(56px) perspective(200px) rotateY(-180deg);
              transform: translate(56px) perspective(200px) rotateY(-180deg);
    }
    100% {
      -webkit-transform: translate(56px) perspective(200px) rotateY(0deg);
              transform: translate(56px) perspective(200px) rotateY(0deg);
    }
  }
  @keyframes car {
    0% {
      -webkit-transform: translate(56px);
              transform: translate(56px);
    }
    25% {
      -webkit-transform: translate(0px);
              transform: translate(0px);
    }
    50% {
      -webkit-transform: translate(0px) perspective(200px) rotateY(-180deg);
              transform: translate(0px) perspective(200px) rotateY(-180deg);
    }
    75% {
      -webkit-transform: translate(56px) perspective(200px) rotateY(-180deg);
              transform: translate(56px) perspective(200px) rotateY(-180deg);
    }
    100% {
      -webkit-transform: translate(56px) perspective(200px) rotateY(0deg);
              transform: translate(56px) perspective(200px) rotateY(0deg);
    }
  }
  /* footer */
  .footer {
    height: 550px;
  }
  .seccion__arriba--footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "fComprar fNproductos" "fSoporte fAyuda";
    padding: 10px;
    justify-items: left;
  }
  .seccion__arriba--footer .tlf {
    padding: 0px 8px;
    font-size: 15px;
  }
  .seccion__arriba--footer a {
    font-size: 13px;
    width: 90%;
    padding: 1px 15px;
  }
  .seccion__arriba--footer .seccion--comprar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: fComprar;
    margin-bottom: 13px;
  }
  .seccion__arriba--footer .seccion--ayuda {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: fAyuda;
  }
  .seccion__arriba--footer .seccion--nproductos {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: fNproductos;
    margin-bottom: 13px;
  }
  .seccion__arriba--footer .seccion--soporte {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: fSoporte;
  }
  .seccion__abajo--footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -ms-grid-rows: 60% 40%;
        grid-template-rows: 60% 40%;
        grid-template-areas: "social social" "buscador logoFoot";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mail-footer {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: buscador;
    margin-left: 15px;
  }
  .img--logo {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: logoFoot;
    padding: 0px 0px;
  }
  .img--logo img {
    padding: 10px;
    width: 70px;
    height: 70px;
  }
  .seccion--rsociales {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: social;
  }
  .seccion--rsociales h5 {
    padding: 0px 26px;
    font-size: 15px;
  }
  .seccion--rsociales img {
    width: 36px;
    height: 36px;
  }
  .rSocial--titulo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: rsocial;
  }
  /* mail para recibir novedades */
  .mail-footer .input-mail {
    width: 65%;
    border-radius: 40px 0px 0px 40px;
  }
  .mail-footer .mail__btn--footer {
    width: 25%;
    border-radius: 0px 40px 40px 0px;
    border: 1px solid white;
  }
  /* icono de whatsapp */
  .linkWpp .wppAll {
    width: 45px;
    height: 45px;
    right: 1.5%;
    top: 90.5%;
  }
}

@media (max-width: 1023px) and (min-width: 767px) {
  /* todo del header */
  .contHead {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -ms-grid-rows: 60% 40%;
        grid-template-rows: 60% 40%;
        grid-template-areas: "gamestation gamestation" "buscador carUsu";
    padding: 0px 0px 10px;
    justify-items: center;
  }
  .contHead .contHead-logTituPrincipal {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: gamestation;
  }
  .contHead .contHead-logTituPrincipal .logo-head {
    width: 60px;
    height: 60px;
  }
  .contHead .contHead-logTituPrincipal h1 .gstation__titulo {
    font-size: 55px;
    letter-spacing: 15px;
    top: 15px;
  }
  .contHead .contHead-buscar {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: buscador;
  }
  .contHead .contHead-buscar input {
    width: 300px;
  }
  .contHead .contHead-carUsu {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: carUsu;
  }
  .contHead .contHead-carUsu img {
    width: 45px;
    height: 45px;
  }
  /* navegador */
  .navbar #el-nav-playstation {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 228, 0.3)), to(rgba(5, 5, 56, 0.3)));
    background-image: linear-gradient(to bottom, rgba(17, 17, 228, 0.3), rgba(5, 5, 56, 0.3));
  }
  .navbar #el-nav-xbox {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 199, 13, 0.3)), to(rgba(7, 71, 18, 0.3)));
    background-image: linear-gradient(to bottom, rgba(13, 199, 13, 0.3), rgba(7, 71, 18, 0.3));
  }
  .navbar #el-nav-pc {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(141, 15, 231, 0.3)), to(rgba(39, 5, 63, 0.3)));
    background-image: linear-gradient(to bottom, rgba(141, 15, 231, 0.3), rgba(39, 5, 63, 0.3));
  }
  .navbar #el-nav-nintendo {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 9, 9, 0.3)), to(rgba(97, 8, 8, 0.3)));
    background-image: linear-gradient(to bottom, rgba(238, 9, 9, 0.3), rgba(97, 8, 8, 0.3));
  }
  /* carrusel principal novedades */
  .carousel--novedades {
    /* imagen 1, 2 y 3 del carrusel*/
    /* textos dentro de la imagen 3 del carrusel */
    /* textos dentro del carrusel */
  }
  .carousel--novedades .imgCarrusel1, .carousel--novedades .imgCarrusel2, .carousel--novedades .imgCarrusel3 {
    height: 240px;
  }
  .carousel--novedades .textNuevoCarrusel3, .carousel--novedades .textGabiCarrusel3, .carousel--novedades .textOcelotCarrusel3, .carousel--novedades .textVerCarrusel3 {
    font-family: fantasy;
    top: 2%;
    left: 12%;
    font-size: 55px;
  }
  .carousel--novedades .textGabiCarrusel3 {
    font-family: fantasy;
    top: 32%;
    left: 16%;
    font-size: 48px;
  }
  .carousel--novedades .textOcelotCarrusel3 {
    font-family: fantasy;
    top: 54%;
    left: 24%;
    font-size: 48px;
  }
  .carousel--novedades .textVerCarrusel3 {
    font-family: fantasy;
    top: 80%;
    left: 50%;
    font-size: 27px;
  }
  .carousel--novedades .textVerCarrusel3:hover {
    color: #ada496;
  }
  .carousel--novedades .contenedor-ps5carrusel {
    width: 60%;
  }
  .carousel--novedades .contenedor-ps5carrusel .list-ps5carrusel {
    top: 16%;
    left: 13%;
  }
  .carousel--novedades .contenedor-ps5carrusel .list-ps5carrusel span {
    font-size: 18px;
  }
  .carousel--novedades .contenedor-ps5carrusel .list-ps5carrusel p {
    font-size: 15px;
    margin-bottom: 8px;
  }
  .carousel--novedades .textConsolaCarrusel, .carousel--novedades .textJoystickCarrusel, .carousel--novedades .textHeadsetCarrusel {
    font-size: 17px;
    top: 2%;
    left: 43%;
  }
  .carousel--novedades .textJoystickCarrusel {
    top: 49%;
    left: 71%;
  }
  .carousel--novedades .textHeadsetCarrusel {
    top: 26%;
    left: 15%;
  }
  /* tamanio de letras en los submenu */
  .subps__menu .dropdown-item, .subxbox__menu .dropdown-item, .subpc__menu .dropdown-item, .subnintendo__menu .dropdown-item {
    font-size: 20px;
  }
  /* boton del manu hamburguesa */
  .navbar-toggler:focus {
    -webkit-box-shadow: 4px 4px 5px #c4450b, -4px -4px 5px #c4450b;
            box-shadow: 4px 4px 5px #c4450b, -4px -4px 5px #c4450b;
  }
  /* Tamanios de las imagenes */
  .imgPs__menu, .imgXbox__menu, .imgPc__menu, .imgNintendo__menu {
    width: 75px;
    height: 75px;
  }
  /* modificacion de las letras del nav principal */
  .h5Ps, .h5Xbox, .h5Pc, .h5Nintendo {
    position: absolute;
    top: 33px;
    left: 95px;
  }
  /* imagen para responsive del home */
  #home {
    position: relative;
    padding: 4px;
  }
  #home img {
    height: 75px;
    width: 75px;
    background-image: -webkit-gradient(linear, left top, right top, from(#ff9100), color-stop(#c4450b), to(#ff9100));
    background-image: linear-gradient(90deg, #ff9100, #c4450b, #ff9100);
    border-radius: 100%;
    background-repeat: repeat;
    -webkit-animation: gs 5s infinite;
            animation: gs 5s infinite;
    background-size: 450%;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-box-shadow: 2px 2px 6px black;
            box-shadow: 2px 2px 6px black;
  }
  #home .el-h5Home {
    position: absolute;
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: "Chakra Petch", sans-serif;
    margin: 0px;
    top: 30px;
    left: 93px;
    text-shadow: 3px 3px 6px black;
  }
  .index {
    position: absolute;
    padding: 0;
  }
  .index .imgGs__menu {
    height: 0px;
    width: 0px;
  }
  .index .h5Home {
    position: absolute;
    font-size: 0px;
  }
  /* botones dentro del carrusel */
  .boton {
    height: 29px;
    width: 27px;
  }
  /* subtitulos de todas los html de productos */
  .subti--playstation, .subti--xbox, .subti--pc, .subti--nintendo {
    font-size: 38px;
    padding: 0;
  }
  /* subtitulos de las secciones dentro de los html de los productos */
  main .subti--producto {
    font-size: 32px;
  }
  /* metodo de pago */
  .metodopago1--contenedor {
    height: 150px;
    /* animacion de tarjeta */
    /* animacion de escudo */
    /* animacion de auto */
  }
  .metodopago1--contenedor img {
    width: 90px;
    height: 90px;
  }
  .metodopago1--contenedor .txtPago {
    font-size: 13px;
  }
  @-webkit-keyframes tarjeta {
    0% {
      -webkit-transform: translate(65px);
              transform: translate(65px);
    }
    50% {
      -webkit-transform: translate(0px);
              transform: translate(0px);
    }
    100% {
      -webkit-transform: translate(65px);
              transform: translate(65px);
    }
  }
  @keyframes tarjeta {
    0% {
      -webkit-transform: translate(65px);
              transform: translate(65px);
    }
    50% {
      -webkit-transform: translate(0px);
              transform: translate(0px);
    }
    100% {
      -webkit-transform: translate(65px);
              transform: translate(65px);
    }
  }
  @-webkit-keyframes escudo {
    0% {
      -webkit-transform: translate(25px) perspective(150px) rotateY(45deg);
              transform: translate(25px) perspective(150px) rotateY(45deg);
    }
    50% {
      -webkit-transform: translate(-2px) perspective(150px) rotateY(-45deg);
              transform: translate(-2px) perspective(150px) rotateY(-45deg);
    }
    100% {
      -webkit-transform: translate(25px) perspective(150px) rotateY(45deg);
              transform: translate(25px) perspective(150px) rotateY(45deg);
    }
  }
  @keyframes escudo {
    0% {
      -webkit-transform: translate(25px) perspective(150px) rotateY(45deg);
              transform: translate(25px) perspective(150px) rotateY(45deg);
    }
    50% {
      -webkit-transform: translate(-2px) perspective(150px) rotateY(-45deg);
              transform: translate(-2px) perspective(150px) rotateY(-45deg);
    }
    100% {
      -webkit-transform: translate(25px) perspective(150px) rotateY(45deg);
              transform: translate(25px) perspective(150px) rotateY(45deg);
    }
  }
  @-webkit-keyframes car {
    0% {
      -webkit-transform: translate(56px);
              transform: translate(56px);
    }
    25% {
      -webkit-transform: translate(0px);
              transform: translate(0px);
    }
    50% {
      -webkit-transform: translate(0px) perspective(200px) rotateY(-180deg);
              transform: translate(0px) perspective(200px) rotateY(-180deg);
    }
    75% {
      -webkit-transform: translate(56px) perspective(200px) rotateY(-180deg);
              transform: translate(56px) perspective(200px) rotateY(-180deg);
    }
    100% {
      -webkit-transform: translate(56px) perspective(200px) rotateY(0deg);
              transform: translate(56px) perspective(200px) rotateY(0deg);
    }
  }
  @keyframes car {
    0% {
      -webkit-transform: translate(56px);
              transform: translate(56px);
    }
    25% {
      -webkit-transform: translate(0px);
              transform: translate(0px);
    }
    50% {
      -webkit-transform: translate(0px) perspective(200px) rotateY(-180deg);
              transform: translate(0px) perspective(200px) rotateY(-180deg);
    }
    75% {
      -webkit-transform: translate(56px) perspective(200px) rotateY(-180deg);
              transform: translate(56px) perspective(200px) rotateY(-180deg);
    }
    100% {
      -webkit-transform: translate(56px) perspective(200px) rotateY(0deg);
              transform: translate(56px) perspective(200px) rotateY(0deg);
    }
  }
  /* footer */
  .footer {
    height: 320px;
  }
  .seccion__arriba--footer .tlf {
    font-size: 16px;
  }
  .seccion__arriba--footer a {
    font-size: 14px;
    width: 90%;
    padding: 1px 15px;
  }
  /* parte de abajo del footer*/
  .seccion__abajo--footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 40% 20%;
        grid-template-columns: 40% 40% 20%;
        grid-template-areas: "fSocial fMail fLogo";
  }
  .img--logo {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: fLogo;
  }
  .img--logo img {
    width: 80px;
    height: 80px;
  }
  .seccion--rsociales {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: fSocial;
    padding: 1px;
  }
  .seccion--rsociales h5 {
    padding: 0px 1px;
    font-size: 16px;
  }
  .seccion--rsociales img {
    width: 40px;
    height: 40px;
  }
  /* mail para recibir novedades */
  .mail-footer {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: fMail;
    margin-left: 15px;
  }
  .mail-footer .input-mail {
    width: 70%;
  }
  .mail-footer .mail__btn--footer {
    width: 28%;
  }
  /* icono de whatsapp */
  .linkWpp .wppAll {
    width: 60px;
    height: 60px;
    right: 1%;
    top: 86%;
  }
}

.formulario {
  background-color: #00000096;
  height: 700px;
  width: 45%;
  padding: 15px;
  border-radius: 25px;
  -webkit-box-shadow: 4px 4px 30px #838282, -4px -4px 30px #e6e2e2;
          box-shadow: 4px 4px 30px #838282, -4px -4px 30px #e6e2e2;
  position: relative;
  left: 28%;
  /* datos personales */
  /* datos compra*/
  /* condiciones y desea recibir novedades*/
  /* botones del formulario de compra */
  /* boton comprar */
  /* boton cancelar*/
  /* boton volver */
}

.formulario .form-title, .formulario .datos .datos-title {
  color: #ff9100;
  text-align: center;
  border-bottom: 5px solid #ff9100;
}

.formulario .datos {
  margin-top: 30px;
}

.formulario .form-label, .formulario .label-nombre {
  color: #ff9100;
  font-size: 17px;
}

.formulario .nombre .input-nombre {
  color: white;
  height: 35px;
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  border-bottom: 2px solid #ff9100;
  border-radius: 0%;
}

.formulario .nombre .input-nombre:focus {
  -webkit-box-shadow: 0 0 30px #4b2900;
          box-shadow: 0 0 30px #4b2900;
}

.formulario .telefono .input-telefono {
  color: white;
  height: 35px;
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  border-bottom: 2px solid #ff9100;
  border-radius: 0%;
}

.formulario .telefono .input-telefono:focus {
  -webkit-box-shadow: 0 0 30px #4b2900;
          box-shadow: 0 0 30px #4b2900;
}

.formulario .mail {
  padding-bottom: 25px;
}

.formulario .mail .input-mail {
  color: white;
  height: 35px;
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  border-bottom: 2px solid #ff9100;
  border-radius: 0%;
}

.formulario .mail .input-mail:focus {
  -webkit-box-shadow: 0 0 30px #4b2900;
          box-shadow: 0 0 30px #4b2900;
}

.formulario .pago {
  padding: 5px;
}

.formulario .pago label {
  font-size: 15px;
}

.formulario .pago .input-direccion, .formulario .pago .input-casa, .formulario .pago .input-cp {
  color: white;
  width: 90%;
  height: 35px;
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  border-bottom: 2px solid #ff9100;
  border-radius: 0%;
}

.formulario .pago .input-direccion:focus, .formulario .pago .input-casa:focus, .formulario .pago .input-cp:focus {
  -webkit-box-shadow: 0 0 30px #4b2900;
          box-shadow: 0 0 30px #4b2900;
}

.formulario .pago .input-casa:focus {
  -webkit-box-shadow: 0 0 30px #4b2900;
          box-shadow: 0 0 30px #4b2900;
}

.formulario .pago .input-cp:focus {
  -webkit-box-shadow: 0 0 30px #4b2900;
          box-shadow: 0 0 30px #4b2900;
}

.formulario .pago .envio, .formulario .pago .metodPago {
  padding: 15px 0px 30px;
}

.formulario .pago .envio .form__obtProducto--label, .formulario .pago .metodPago .form__obtProducto--label {
  color: #ff9100;
}

.formulario .pago .envio select, .formulario .pago .metodPago select {
  border-radius: 8px;
  border: 2px solid #ff9100;
}

.formulario .pago .metodPago .form__pago--label {
  color: #ff9100;
}

.formulario .pago .metodPago select {
  border-radius: 8px;
  border: 2px solid #ff9100;
}

.formulario .termYcond {
  padding-bottom: 25px;
}

.formulario .termYcond .form__cond--label {
  color: #ff9100;
  text-decoration: underline;
}

.formulario .btn-comprarForm {
  border-radius: 13px;
  color: #4b2900;
  padding: 8px;
  background-color: #ff9100;
  border-bottom: 4px groove #1e8b1e;
  border-right: 4px groove #1e8b1e;
  border-top: 0px;
  border-left: 0px;
  font-weight: bold;
}

.formulario .btn-comprar:hover, .formulario .btn-cancelar:hover, .formulario .btn-volver:hover {
  color: #0b250b;
  background-color: #1e8b1e;
  border-bottom: 3px groove #ff9100;
  border-right: 3px groove #ff9100;
}

.formulario .btn-cancelar {
  border-radius: 13px;
  color: #4b2900;
  padding: 8px;
  background-color: #ff9100;
  border-bottom: 4px groove #dd0a0a;
  border-right: 4px groove #dd0a0a;
  border-top: 0px;
  border-left: 0px;
  font-weight: bold;
}

.formulario .btn-cancelar:hover {
  color: #640808;
  background-color: #dd0a0a;
}

.formulario .btn-volver {
  border-radius: 13px;
  color: #4b2900;
  padding: 8px;
  background-color: #ff9100;
  border-bottom: 4px groove #080896;
  border-right: 4px groove #080896;
  border-top: 0px;
  border-left: 0px;
}

.formulario .btn-volver a {
  text-decoration: none;
  color: #4b2900;
  font-weight: bold;
}

.formulario .btn-volver:hover {
  background-color: #080896;
}

.formulario .btn-volver:hover a {
  color: #050536;
}

@media (max-width: 426px) and (min-width: 320px) {
  .formulario {
    width: 90%;
    height: 1000px;
    left: 5%;
  }
  .formulario .info, .formulario .info-envio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formulario .envio, .formulario .pago .metodPago {
    padding: 0px 0px 15px;
  }
}

@media (max-width: 1023px) and (min-width: 767px) {
  .formulario {
    width: 60%;
    height: 710px;
    left: 20%;
  }
}

/* estilos generales */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* color del cuerpo de la pagina */
body {
  background-image: -webkit-gradient(linear, right top, left top, from(#0a1347), color-stop(90%, #8a500d));
  background-image: linear-gradient(to left, #0a1347, #8a500d 90%);
  position: relative;
}

/* espacios del navegador */
.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  background-image: -webkit-gradient(linear, right top, left top, from(#0a1347), color-stop(90%, #8a500d));
  background-image: linear-gradient(to left, #0a1347, #8a500d 90%);
  padding: 0;
  -webkit-box-shadow: 0px 0px 20px #8a500d, 0px 0px 20px #0a1347;
          box-shadow: 0px 0px 20px #8a500d, 0px 0px 20px #0a1347;
}

/* nombre de las secciones en las submenu */
.el-liA {
  -webkit-box-shadow: 0px 5px 8px #c3d4cb;
          box-shadow: 0px 5px 8px #c3d4cb;
}

.el-liA:hover {
  -webkit-box-shadow: 0px 5px 8px #ff9100;
          box-shadow: 0px 5px 8px #ff9100;
  background-color: rgba(255, 255, 255, 0) !important;
}

/* seccion de titulos en los html de los productos */
.subti--producto {
  color: white;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 36px;
  font-weight: bolder;
  position: relative;
  top: 15px;
  left: 10px;
  text-shadow: 5px 5px 9px black;
}

/* linea de separacion de los subtitulos en los productos */
.contLinea--subti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contLinea--subti .linea--subti {
  border: 1px solid #ff9100;
  border-radius: 50%;
  margin: 5px 0px;
  width: 90%;
}

/* icono de whatsapp */
.wppAll {
  width: 60px;
  height: 60px;
  position: fixed;
  top: 89%;
  right: 1%;
  z-index: 999;
  padding: 8px;
  background-color: #47C555;
  border-radius: 10px;
}

.wppAll:hover {
  -webkit-box-shadow: 0px -2px 6px #369942;
          box-shadow: 0px -2px 6px #369942;
}
/*# sourceMappingURL=estilos.css.map */