@import "headGeneral";
@import "estilosimgmenu";
@import "estiloscarrusel";
@import "estilosubmenu";
@import "tipoCompras";
@import "footer";
@import "playstationstyle";
@import "xboxstyle";
@import "pcstyle";
@import "nintendostyle";
@import "cards";
@import "queriesGeneralMovil";
@import "comprastyle";
@import "queriesFormMovil";

/* estilos generales */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* color del cuerpo de la pagina */
body{
    background-image: linear-gradient(to left, rgb(10, 19, 71), rgb(138, 80, 13) 90%);
    position: relative;
}

/* espacios del navegador */
.navbar{
    position: sticky;
    top: 0;
    z-index: 999;
}

/* seccion de titulos en los html de los productos */
.subti--producto{
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 36px;
    font-weight: bolder;
    padding-left: 10px;
    padding-top: 25px;
}

/* linea de separacion de los subtitulos en los productos */
.contLinea--subti{
    display: flex;
    justify-content: center;
    .linea--subti{
        border: 1px solid #ff9100;
        border-radius: 50%;
        margin: 5px 0px;
        width: 90%;
    }

}

/* icono de whatsapp */
.wppAll{
    width: 60px;
    height: 60px;
    position: fixed;
    top: 89%;
    right: 1%;
    z-index: 999;
}